<div class="row">
  <div class="col-md-6">
    <h2>New Post</h2>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">title</label>
        <input class="form-input" type="text" id="post-title" />
      </div>
      <div class="form-group">
        <label for="post-text">Text</label><br>
        <textarea id="post-text" name="post-text" rows="4" cols="50">
  
        </textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
  
</div>

<script src="./js/newPost.js"></script>
